    <div class="jumbotron text-center" id="top_jumbotron">
        <h1 class="title">Film & Media Department Equipment</h1>
    </div>

    <div class="text-center"> 
      <div class="btn-group">
        <a href="browse_inventory" type="button" class="btn btn-primary">Browse Equipment</a>
        <a href="studio_availability_schedule" type="button" class="btn btn-primary">Browse Studio Time</a>
      </div>
    </div>

    <div class="container">
      <div class="row">
      	   <div class="col" width=".33" >
	   	<p><h2>Editing suite</h2></p>
		<p style="color:#008eaa;"><i>Marts 003</i> </p>
		<p>The editing suite contains three iMac stations, each equipped with Final Cut X, Premiere Pro, After Effects, and other post-production software. </p>
	   	
	   </div>
	   <div class="col" width = ".33"  >
	   	
		<p><h2>Mixing room</h2></p> 
		<p style="color:#008eaa;"><i>Marts 003A</i></p>
		<p>The mixing room contains a Mac Pro workstation, multiple color-calibrated screens, and software for advanced sound mixing, color correction, and other post-production work.  The mixing room is also equipped for the viewing of current and legacy media (S-VHS, Laserdisc, DVD, Blu Ray, and more) and can function as a small screening room.</p>
	   
	   </div>
	   <div class="col" width=".33" >
	   	<p><h2>Studio </h2></p>
		<p style="color:#008eaa;"><i>Marts 002</i></p> 
		<p>The studio area has been designed to be a versatile environment for audio and video recording.  It features DMX-controlled lighting and the floor, ceiling, and walls are sound-dampened.  The studio is equipped with various backdrop curtains, infinity walls, and and a large green screen.</p>

	   	<p> The Studio - A versitile environment for audio and video recording. Has many built in tools and features to assist with recording. </p>
	   </div> 

                 
            </div>
      </div>
    </div>
		


